body {
	font-size: 14px;
	color: #ffffff;

	background-color: rgb(0, 0, 0);
}

.intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	padding-top: 100px;

	background: #31344e url("../IMG/ДЖОКЕР\ \(Custom\).png") center no-repeat;
	background-size: cover;
}

.intro__inner {
	width: 100%;
	max-width: 970px;

	margin: 0 auto;
	text-align: center;
}

.intro__title {
	margin: 0 0 30px;
	line-height: 1.1;

	font-family: "Open Sans", sans-serif;
	font-size: 65px;
	color: white;
	font-weight: 700;
	text-transform: uppercase;
}

.intro__subtitle {
	margin-bottom: 60px;

	font-size: 22px;
	color: #fff;
	line-height: 1.5;
	font-weight: 400;
}
